@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Poppins:ital,wght@0,400;1,200&family=Rubik:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,500&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #F9F9F9;
  overflow-x: hidden;
}

input{
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loginLeft {
  position: fixed;
  right: 50%;
  top: 0px;
  height: 110%;
}

.logoImage {
  position: fixed;
  left: -40px;
  top: 65%;
  height: 200px;
}

#loginBlock{ 
  position: fixed;
  width: 50%;
  right: 0px;
  top: 25%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  color: #3C403F;
}

#rentACar {
  font-size: 40px;
  align-items: start;
}

.wowContainer {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  font-size: 150px;
  align-items: start;
  justify-content: start;
  color: white;
  opacity: 95%;
  position: absolute;
  left: 7%;
  top: 20%;
}

.wowContainer label {
  margin-block: -30px;
}

#ofLabel {
  font-size: 100px;
}

.resultContainer, .historyItem { 
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

input::placeholder {
  color: #A8B1B3;
}

input:focus {
  border-color: #3C403F;
  border: 2px solid;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 15px;
}

.labelContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
}

.inputContainer > .errorLabel, .checkOutForm > .errorLabel{
  color: #A44B22;
  font-size: 12px;
  height: 12px;
}


.inputBox {
  height: 35px;
  width: 350px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid #A8B1B3;
  padding-left: 8px;
}

.inputBoxSmall {
  height: 35px;
  width: 165px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid #A8B1B3;
  padding-left: 8px;
}

.inputContainer input.inputButton {
  color:#A8B1B3;
  background-color: #D8E2E3;
  height: 35px;
  width: 350px;
  padding: 0px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.inputContainer input.inputButton:hover {
  background-color: #b3c2c4;
  color: #3C403F;
}

.inputContainer input.checkbox{
  background-color: #b3c2c4;
}

.myCheckboxContainer{
  position: relative;
}

.checkboxLabel {
  color:#A8B1B3;
  font-size: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.label {
  color:#A8B1B3;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.linklabel {
  color:#A44B22;
  font-size: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkboxLabel input.inputCheckBox {
  accent-color: #b3c2c4;
}

#greenSection {
  position: fixed;
  background-color: #A0ABAC;
  left: 0;
  height: 100vh;
  width: 45%;
}

#signupBlock{ 
  position: fixed;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  right: 0px;
}

#signInputContainer {
  display: grid;
  grid-template-columns: 185px 185px;
  justify-items: center;
}

#homeButton {
  z-index: 100;
  border: none;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  
}

#homeButton span {
  margin-left: 0px;
  font-weight: 700;
}

#homeButton img {
  margin-left: 0px;
  transition: margin-left 0.5s ease;
}

#homeButton:hover img {
  margin-left: 100px;
}

#homeImage {
  position: absolute;
  z-index: -10;
  width: 100%;
  left: 0;
}

.menuBarSection {
  position: absolute;
  z-index: 100;
  border: none;
  left: 5%;
  Top: 5%;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.logSignButton{
  border: 2px solid #282c34;
  border-radius: 10px;
  margin-inline: 10px;
  height: 40px;
  width: 150px;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#loginButton {
  background-color: transparent;
  color: #282c34;
}

#loginButton:hover {
  background-color: #282c34;
  color: wheat;
}

#signupButton {
  background-color: #282c34;
  color: wheat;
}

#signupButton:hover {
  background-color: transparent;
  color: #282c34;
}

.logSignButton > label {
  cursor: pointer;
}

#accountButton {
  z-index: 100;
  border: none;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  
}

#accountButton img {
  margin-left: 10px;
  transition: margin-bottom 0.5s ease;
}

#accountButton:hover img {
  margin-bottom: 10px;
}

#rentSection{
  position: absolute;
  background-color: #CCC5B8;
  height: 520px;
  width: 460px;
  right: 2%;
  top: 25%;
  border-radius: 10px;
  padding: 50px 50px 30px 30px;
}

.checkboxCoantier {
  position: relative;
  height: 55px;
  cursor: default;
  overflow: hidden;
  background-color: transparent;
  border-radius: 3px;
}

.comboboxBox {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 15px;
  padding-right: 10px;
  color: #1b1b1b;
  border-radius: 5px;
  border: 1px solid #9B958C;
  font-size: 16px;
  background-color: transparent;
}

.comboboxBox:focus {
  border: 2px solid #1876D2;
}

.comboboxBox:hover {
  border: 1px solid #2d2d2d;
}

.comboboxBox::placeholder {
  color: #514F49;
}

.comboboxButton {
  position: absolute;
  top: 2px;
  right: 0;
  height: 55px;
  width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.comboboxoptionbar {
  position: absolute;
  top: calc(100% - 15px); 
  max-height: 200px; 
  width: 400px;
  overflow-y: auto;
  border-radius: 3px;
  background-color: white;
  z-index: 10; 
}

.comboboxoptionNothing{
  position: absolute;
  cursor: default;
  left: 50px;
  height: 30px;
  background-color: white;
  border-radius: 7px;
}

.comboboxoption {
  height: 30px;
}

.comboboxoptionActive{
  background-color: #cccccc;
  height: 30px;
}

.comboboxCheckContainer {
  position: absolute;
  left: 0px;
  height: 30px;
  width: 40px;
  background-color: #cccccc;
}

.comboboxHideDot{
  position: absolute;
  left: 0px;
  height: 30px;
  width: 40px;
  background-color: white;
  border-radius: 10px;
}

.comboboxItem {
  position: absolute;
  left: 40px;
}

.rentCarInputContainer {
  position: absolute;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 190px 190px;
  gap: 20px 20px;
}

.rentCarInputContainer > div {
  min-height: 30px;
}


.timePickerBox {
  width: 190px;
  height: 55px;
  border-radius: 7px;
  border: none;
}

.findButton {
  border: 2px solid #282c34;
  width: 400px;
  height: 40px;
  border-radius: 8px;
  background-color: #282c34;
  color: whitesmoke;
  font-size: 15px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.findButton:hover {
  background-color: transparent;
  color: #282c34;
}

.rentService {
  margin-top: 50px;
  position: absolute;
  width: 100%;
  height: auto;
  top: 900px;
  background-color: #1b1b1b;
  z-index: -20;
}

.filter_section {
  position: absolute;
  top: 13%;
  left: 13%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  justify-items: space-between;
  width: 200px;
}

#filter_title {
  font-size: 30px;
  color: #3C403F;
}

#filter_subtitle {
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #3C403F;
}


.checkboxes-container {
  /* Flexbox styles for labels to arrange horizontally */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  color: #3C403F;
}

.checkboxes-container > label {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  
}

.filterLine {
  position: absolute;
  top: 13%;
  left: 30%;
  width: 2px;
  height: 600px;
  background-color: #D7D7D7;
}

.searchSection {
  position: absolute;
  top: 13%;
  transform: translateX(60%);
  width: 700px;
  z-index: -10;
  padding-bottom: 100px;
}

.sortByContainer {
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sortByContainer > label {
  font-size: 12px;
}

.searchOptionContainer {
  position: absolute;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
  scroll-behavior: auto;
  width: 100%;
}

.carInfoContainer {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  border: 2px solid #D7D7D7;
  display: flex;
  align-items: center;
  justify-items: start;
  padding: 10px 30px 10px 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#carImage {
  width: 200px;
  height: 150px;
  margin: 15px;
}

.carInfoSection {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 200px;
  height: 100px;
}

.dailyRateSection {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  margin-right: 30px;
}

#fontSize25 {
  font-size: 25px;
}

#fontSize15 {
  font-size: 15px;
}

.carInfoFontStyle {
  color: #3C403F;
}

.selectCarButton {
  width: 100px;
  height: 80px;
  border-radius: 10px;
  background-color: #CCC5B8;
  border: none;
  font-size: 18px;
  color: #3C403F;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selectCarButton:hover {
  color: #F9F9F9;
  background-color: #3C403F;
}


#manageButton {
  z-index: 100;
  border: none;
  font-size: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: margin-bottom 0.3s ease;
}

#manageButton:hover {
  margin-bottom: 20px;
}


#maageMenu {
  background-color: #9B958C;
  height: 60px;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 40px 80px 40px 80px;
}

.sideBarContainer {
  position: absolute;
  background-color: white;
  height: 90%;
  width: 200px;
  left: 0px;
  top: 80px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.sideBarContainer > button {
  border: none;
  font-size: 18px;
  color: #3C403F;
  margin: 10px;
  display: flex;
  background-color: transparent;
  margin-left: 40px;
  cursor: pointer;
  transition: margin-left 0.3s ease;
}

.sideBarContainer > button > label {
  cursor: pointer;
}


.sideBarContainer > button:hover {
  margin-left: 50px;
}

.databaseContainer {
  position: absolute;
  width: 1100px;
  height: 670px;
  top: 120px;
  left: 20%;
}

#fontSize {
  font-size: 40px;
  position: absolute;
}

.modifyDatabaseSection {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 600px;
  top: 70px;
  left: 0px;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.datasearchSection {
  width: 20%;
  height: 95%;
  margin-top: 15px;
  border-right: 2px solid #F9F9F9;
}

.datasearchSection > input {
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-size: 14px;
  padding-inline-start: 10px;
  border: 1px solid #D7D7D7;
  color: #3C403F;
}

.datasearchSection > input:hover {
  border: 1px solid #3C403F;
}

.datasearchSection > input:focus {
  border: 1px solid #3C403F;
}


.datasearchResultSection {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 50px;
  align-items: end;
  overflow: scroll;
  scrollbar-width: thin;
}

.datasearchResultSection::-webkit-scrollbar {
  display: none;
}

.datasearchResultSection > button {
  border: none;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  transition: margin-right 0.5s;
  display: flex;
  justify-content: center;
}


.datasearchResultSection > button:hover {
  margin-right: 10px;
}

.datasearchResultSection > button > label {
  cursor: pointer;
}

.orderInfoContainer {
  width: 75%;
  height: 95%;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #3C403F;
}

.datatitle {
  position: absolute;
  top: 20px;
  left: 0px;
  font-size: 25px;
}

.orderDetailContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 130px;
  gap: 20px;
  justify-items: start;
  align-items: start;
}

.fontSize20 {
  font-size: 20px;
  position: relative;
}

.dataContainer {
  text-align: left;
}

.dataDetail {
  margin-top: 5px;
  color: #8F8F8F;
  display: block;
  width: 100%;
  
}

.dataDetail > input {
  border: none;
  font-size: 16px;
  width: auto;
}


.dataDetail > input::placeholder {
  color: #3C403F;
  font-size: 16px;
}

#paymentSection {
  grid-column: 1 / 3;
  grid-row: 3;
}

#odoInput {
  width: 100px
}

.updateButtonSection {
  grid-column: 3;
  grid-row: 3;
}

.submitButton {
  background-color: #D8E2E3;
  width: 200px;
  height: 50px;
  font-size: 15px;
  border-radius: 10px;
  color: #878787;
  cursor: pointer;
  border: 2px solid #D8E2E3;
  transition: background-color 0.3s ease;
  margin: 20px 10px 10px 20px;
}

.submitButton:hover {
  border: 2px solid #D8E2E3;
  background-color: transparent;
}

.submitButton:focus {
  border: 2px solid #D8E2E3;
}

.backToSearchButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 0px;
  transition: margin-left 0.5s ease;
}

.backToSearchButton:hover {
  margin-left: 10px;
}

.checkOutInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  font-size: 18px;
  color: #3C403F;
}

.checkOutInfoContainer > label {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  margin-top: 8px;
  width: 400px;
}

.checkoutSection {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.modelName {
  font-weight:bold;
  font-size: 20px;
}

#checkOutIcon {
  width: 30px;
  height: 30px;
}

.checkOutForm {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.checkOutForm > input {
  border: none;
}

.checkOutFormSubtitle {
  color: #878787;
}

.vehicleInfoContainer {
  width: 50%;
  height: 80%;
  position: absolute;
  top: 50px;
  right: 15px;
  color: #3C403F;
}

.vehicleDetailContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 130px;
  gap: 50px;
  justify-items: start;
  align-items: start;
}

.signUpTypeButtonContainer > button {
  width: 175px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: #3C403F;
  font-size: 15px;
  transition: background-color 0.5s ease;
}

.signUpTypeButtonContainer > button:hover {
  border: 1px solid #A8B1B3;
}

.selectButtonI {
  background-color: #A8B1B3;
  border-radius: 10px 0px 0px 10px;
}

.selectButtonC {
  background-color: #A8B1B3;
  border-radius: 0px 10px 10px 0px;
}

.nonSelectButtonI {
  border-radius: 10px 0px 0px 10px;
}

.nonSelectButtonC{
  border-radius: 0px 10px 10px 0px;
}

.customerDetailContainer {
  width: 75%;
  height: auto;
  position: absolute;
  top: 150px;
  right: 100px;
  color: #3C403F;
}

#thankLabel {
  font-size: 50px;
  width: 100%;
  animation: 10s linear 1s infinite running slidein;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slidein {
  from {
    /* starting styles */
    transform: translateX(-150%);
  }
  to {
    /* ending styles */
    transform: translateX(150%);
  }
}